%p Здравствуйте, #{@resource.email}!
%p Кто-то, возможно Вы, запросили письмо на изменения пароля. Вы можете сделать это, перейдя по следующей ссылке:
%p= link_to 'Поменять мой пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы не хотите менять пароль, то просто проигнорируйте это письмо.
%p Ваш пароль не изменится, пока Вы не кликните вышеуказанную ссылку и не заполните форму.
